<%= form_with model: @question, url: test_questions_path(@test) do |form| %>
  <div>
    <%= form.label :body, "Write a question"%>
    <p>
    <%= form.text_area :body%>
    <%= form.hidden_field :test_id, value: @question.test_id %>
  </div>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Save question"%>
  </div>
<% end %>
