<p id="notice"><%= notice %></p>

<h1>User Badges</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Badge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_badges.each do |user_badge| %>
      <tr>
        <td><%= user_badge.category %></td>
        <td><%= user_badge.name %></td>
        <td><%= link_to 'Show', user_badge %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', root_path %>
