<p id="notice"><%= notice %></p>

<h1><%= t('.header') %></h1>

<%= render 'shared/errors', resource: @test %>
<h2>
  <span class="navbar-text">
    <%= link_to t('.optional_header'), tests_path, class: 'navbar-brand' %>
  </span>
</h2>

<h2>
  <span class="navbar-text">
    <%= link_to t('.manage_badges'), admin_badges_path, class: 'navbar-brand' %>
  </span>
</h2>
<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      Title
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
  </tr>

  <tbody>
    <%= render @tests %>
  </tbody>
</table>

<br>

<%= link_to 'New Test', new_admin_test_path %>
