<%= form_with(model: test, local: true) do |form| %>
  <div>
    <%= form.label :category %><br>
    <p>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </div>
  <p>
  <div>
    <%= form.label :title %>
    <p>
    <%= form.text_field :title, id: :test_title%>
  </div>
  <div>
    <%= form.label :level%>
    <p>
    <%= form.number_field :level, id: :test_level%>
  </div>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
        <% test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
  <p>
<% end %>
